
.tm-content-block + .tm-content-block._small-margin {
  margin: 20px 0 0;
}
.tm-filter {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.tm-filter__categories {
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  padding: 5px 0 10px;
}
.tm-filter__category {
  display: inline-block;
  vertical-align: top;
  padding: 8px 0;
  border-bottom: 3px solid transparent;
  color: #e20074;
  cursor: pointer;
  white-space: nowrap;
}
.tm-content-block + .tm-content-block._no-margin {
  margin: 0;
}
.tm-form-field {
  position: relative;
  padding: 9px 0;
}
