<div class="tm-content-block tm-content-block_subsection _small-margin">
  <div class="tm-filter">
    <div class="tm-filter__categories"><span class="tm-filter__category taTab jsFilterMSISDN jsFilter"><span
      class="taLabel ">SIM</span></span><span class="tm-filter__category taTab jsFilterIMSI jsFilter"></span></div>
  </div>
  <form #createForm="ngForm" class="jsSearchFormElement" (ngSubmit) = "searchSim();"data-parsley-validate="" data-parsley-errors-messages-disabled="" novalidate="">
      <div class="container m-t-xl">
        <div class="row m-t-xl">
          <div class="col">
            <div class="tmo-floating-label">
              <div class="row">
                <div class="col-12 col-md-5 col-lg-4 col-xl-3">
                  <fuse-text-input name = "simInput" id="withNgModel" #ctrl="ngModel"  type="text" label="SIM" [(ngModel)]="simInput"></fuse-text-input>
                </div>
                <!-- <div class="col-12 col-md-5 col-lg-4 col-xl-3 p-t-lg">{{customModel}}</div> -->
              </div>
            </div>
          </div>
        </div>
      </div>


    <div class="tm-content-block _no-margin">
      <div class="tm-validation-message__wrapper _hidden _form-field jsRequiredFields">
        <div class="tm-validation-message jsCustomMessage _invalid">
Please Enter SIM  </div>
      </div>
    </div>
    <div class="tm-content-block _small-margin">
      <button class="tm-button jsSearchExecute taButton"><span class="tm-button__label taLabel">Search</span></button>
    </div>
  </form>
</div>
